body {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack header and container vertically */
    height: 100vh; /* Full viewport height */
}

body::before {
    content: "";
    background-image: url("../images/beach.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
}

header {
    background-color: #11101b;
    font-weight: bold;
    font-family: "M PLUS Rounded 1c", sans-serif;
    padding: 10px 50px;
    font-size: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    animation: sll 0.9s ease-out forwards;
    position: relative; /* Ensure header is in normal flow */
    z-index: 1; /* Ensure header is above background */
}

header .home a {
    color: white;
    font-size: 25px;
}

header .models {
    color: white;
}

.container {
    flex: 1; /* Allow container to take up remaining space */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "M PLUS Rounded 1c", sans-serif;
    background: transparent;
    border-radius: 10px;
    padding: 20px; /* Add some padding */
}

.container form input {
    padding-left: 15px;
    width: 250px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    border: none;
    border-radius: 10px;
    line-height: 2px;
    height: 8vh;
}

.container form a {
    padding: 10px 100px;
    color: white;
    font-weight: bold;
    background-color: green;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
}

@media (max-width: 800px) {
    header .models {
        font-size: 20px;
    }
    header .home {
        font-size: 10px;
    }
    .container form a {
        font-size: 15px;
    }
    .container {
        margin: auto; /* Center the container */
        width: 90%; /* Make it responsive */
        max-width: 250px; /* Set a max width */
        height: auto; /* Adjust height */
    }
    .container form input {
        width: 100%; /* Full width */
        height: 5vh; /* Responsive height */
    }
    .container form a {
        padding: 10px 20px; /* Adjust padding */
    }
}
